Ques1.What is a database? differentiate between SQL and NoSQL databases.

Ans.  A database is a organized collection of data that can be accessed,managed,and updated.Databases are used to store and organize data in a way that makes it easy to retrieve and manipulate the information they contain.There are two main types of databases: SQL and NoSQL.

 SQL databases,also known as relational databases,store data in tables with predefined columns and rows.The use a structured query languages(SQL) to interact with the data.SQL databases are best suited for applications where the data has a well-defined structure,such as financial applications or invertory management systems.Examples of SQL databases include MySQL,PostgresSQL,Oracle,and Microsoft SQL Server.

NoSQL databases,do not use tables with predefined columns and rows.They store data in a variety of ways,such as key-value pairs,documents-oriented databases,and graph databases.NoSQL databases are best suited for applications where the data is unstructured or semi-structured,such as social media,big data,and real-time analytics.
    Examples of NoSQL databases include MongoDB,Cassandra, and Redis.

Ques2. What is DDL? EXplain why CREATE,DROP,ALTER ,and TRUNCATE are used with an example.

Ans. DDL stands for Data Defintion Language,which is a subset of SQL used to define and manage the structure of databases and database objects.DDL statements are used to create,modify,and delete database objects.DDL statements are used to create,modify,and delete database objects such as tables,indexes, and constraints.

 Here are some common DDL statements and their uses:
 
1.CREATE:This statement is used to create a new database object,such as a table or index.For example-The following statement creates a new table called "employees" with columns for employee ID,name,and salary:
          CREATE TABLE employee( id INT PRIMARY KEY,name VARCHAR(50),salary INT );
                
2.DROP:This statemnet is used to delete an existing database object,such as a table or index.For example-the following statement drops the "employees"table:
                       DROP TABLE employees;
                        
 3.ALTER:This statement is used to modify an existing database  object,such as table or column.For example,the following statement adds a new column called"dapartment"to the "employees"table:
                    ALTER TABLE employee ADD COLUMN department VARCHAR(50);

4.TRUNCATE:This statements is used to remove all the data from a table,while leaving the table structure intact.for example statement removes all data from the "employees"table.
                  TRUNCATE TABLE employees;

Ques3.What is DML? Explain INSERT,UPDATE, and DELETE with an example.

Ans. DML stands for Data Manipulation Language,which is subset of SQL used to manipulate data in databases.DML statements are used to insert,upadte and delete data in database tables.

1.INSERT: This statements is used to insert new into a table.
          INSERT INTO employees(id, name , salary) VALUES(1, 'John Doe' , 50000);
    
2.UPDATE:This statement is used to update existing data in a table.For example the following statements updates the salary of an employee with ID 1 in the "employees"table:
        UPDATE employees SET salary = 55000 WHERE id = 1;
    
  3.DELETE:This statements is used to delete existing data from atable.for example,The following statement deletes an employee with ID 1 from the "employees"table.
        DELETE FROM employees WHERE id = 1;

Ques4.What is DQL?Explain SELECT with an example.

Ans. DQL stand for Data Query Language,which is subset of SQL used to retrieve data from databases.DQL statements are used to select and retrieve data from database tables.
    
The most common DQL statements is SELECT.
       SELECT * from employees;

Ques5.Explain primary key and Foreign key.

Ans. A primary key is a unquie identifier for a record or row in a database table.It is used to ensure that each row in a table is unquiely identifiable and can be accesses or updated easily.
    A primary key is a column or set of columns that are selected to identify each row in a table.It must be unique, meaning that no two rows can have the same primary key,and it must not contain null values.
    
 A foreign key,is a field in a table that is used to reference the primary key of another table.It is used to establish a relationship between two tables,where the foreign key in one table refers to the primary key in another table.

Ques6.Write a python code to connect MySQL to python.Explain the cursor()and execute()method.

Ans.  To connect MySQL to python,We need to use a python MySQL connector.The most common python MySQL connector is the 'mysql-connector-python'module,which can be installed using pip.

In [ ]:
import mysql.connector

mydb =mysql.connector.connect(
    
            host = "localhost",
            user='username",
            password="password",
            database="database_name"
        )
 
mycursor = mydb.cursor()
mycursor.execute("SELECT * from table_name")

myresult = mycursor.fetchall()
        
for i in myresult:
    print(i)

Ques7.Give the order of execution of SQL clauses in a SQL query

Ans. 1.'FROM'clause: This clause specifies the table(s) from which data is retrieved.
    
2.'JOIN'clause: If there are any joins in the query,they are executed next.This clause specifies how tables are joined together.
        
3.'WHERE'clause: This clause is used to filter the data based on specified conditions.
    
4.'GROUP BY" clause: This clause is used to group the data based on specified columns.
    
5.'HAVING' clause: This clause is used to groups created by the 'GROUP BY'clause based on specified conditions.
    
6.'SELECT'clause : This clause is used to select the columns that will be included in the result set.
    
7.'DISTINCT'clause: If the query includes the 'DISTINCT'keyword,duplicates in the result set are removed at this stage.
    s
8.'ORDER BY' clause: This clause is used to sort the result set based on specified columns.
    
9.'LIMIT' and 'OFFSET' clauses: If specified ,these clauses are used to limit the number of rows returned by the query and skip a specified number of rows